@model Ajupov.Identity.OAuth.ViewModels.RegisterViewModel

<html>
<head>
    <title>Identity</title>
    <meta charset="utf-8"/>
</head>
<body>

<form method="post" action="/oauth/register">
    @Html.AntiForgeryToken()

    @if (Model.IsLoginExists)
    {
        <p>Логин занят</p>
    }

    @if (Model.IsEmailExists)
    {
        <p>Email занят</p>
    }
    
    @if (Model.IsPhoneExists)
    {
        <p>Телефон занят</p>
    }

    <label>Фамилия:</label><br/>
    <input type="text" name="Surname"/><br/><br/>

    <label>Имя (обязательно):</label><br/>
    <input type="text" name="Name" required="required"/><br/><br/>

    <label>Пол:</label><br/>
    <select name="Gender">
        <option selected="selected">Не выбрано</option>
        <option value="1">Мужской</option>
        <option value="2">Женский</option>
    </select><br/><br/>

    <label>Дата рождения:</label><br/>
    <input type="date" name="BirthDate"/><br/><br/>

    <label>Логин (обязательно):</label><br/>
    <input type="text" name="Login" required="required"/><br/><br/>

    <label>Email (обязательно):</label><br/>
    <input type="email" name="Email" required="required"/><br/><br/>

    <label>Телефон (обязательно):</label><br/>
    <input type="tel" name="Phone" required="required"/><br/><br/>

    <label>Пароль (обязательно):</label><br/>
    <input type="password" name="Password" required="required"/><br/><br/>

    <label>Пароль (повторно):</label><br/>
    <input type="password" name="PasswordConfirmation" required="required"/><br/><br/>

    <input type="submit" value="Зарегистрироваться"/>

    <input type="hidden" name="client_id" value="@Model.ClientId"/>
    <input type="hidden" name="scope" value="@Model.Scope"/>
    <input type="hidden" name="state" value="@Model.State"/>
    <input type="hidden" name="response_type" value="@Model.ResponseType"/>
    <input type="hidden" name="redirect_uri" value="@Model.RedirectUri"/>
</form>

</body>
</html>