@using Crm.Identity.Utils.Phone
@model Crm.Identity.Areas.OAuth.ViewModels.ChangePhone.ChangePhoneViewModel

@{
    Layout = "../Shared/_Layout";
    ViewBag.Title = "Изменение телефона";
}

<form method="post" action="/oauth/changephone">
    <h2>Изменение телефона</h2>

    @if (Model.IsPhoneNotChanged)
    {
        <p class="error">Старый и новый телефоны совпадают</p>
    }

    @if (Model.IsPhoneExists)
    {
        <p class="error">Телефон уже занят</p>
    }

    @if (Model.IsInvalidCredentials)
    {
        <p class="error">Неправильный старый телефон или пароль</p>
    }

    @Html.AntiForgeryToken()

    <input type="hidden" name="Country" value="@Country.Russia"/>
    <span class="phone-prefix">@PhoneUtils.GetFullInternationalPrefix(Country.Russia)</span>
    <input class="phone-value" type="tel" name="OldPhone" value="@Model.OldPhone" required="required" placeholder="Старый телефон (в формате 9999999999)" pattern="[0-9]{10}" autofocus="autofocus"/>
    <span class="phone-prefix">@PhoneUtils.GetFullInternationalPrefix(Country.Russia)</span>
    <input class="phone-value" type="tel" name="NewPhone" value="@Model.NewPhone" required="required" placeholder="Новый телефон (в формате 9999999999)" pattern="[0-9]{10}"/>
    <input type="password" name="Password" required="required" placeholder="Пароль" autocomplete="none"/>
    <input type="submit" value="Изменить"/>
</form>