@using Crm.Identity.Areas.Phone.Services
@using Crm.Identity.Utils.Phone
@model Crm.Identity.Areas.OAuth.ViewModels.Register.RegisterViewModel

@{
    Layout = "../Shared/_Layout";
    ViewBag.Title = "Регистрация";
}

<form method="post" action="/oauth/register">
    <h2>Регистрация</h2>

    @if (Model.IsPasswordsNotEqual)
    {
        <p class="error">Пароли не совпадают</p>
    }

    @if (Model.IsLoginExists)
    {
        <p class="error">Логин занят</p>
    }

    @if (Model.IsEmailExists)
    {
        <p class="error">Email занят</p>
    }

    @if (Model.IsPhoneExists)
    {
        <p class="error">Телефон занят</p>
    }

    @Html.AntiForgeryToken()

    <input type="hidden" name="Country" value="@Country.Russia"/>
    <input type="hidden" name="client_id" value="@Model.ClientId"/>
    <input type="hidden" name="scope" value="@Model.Scope"/>
    <input type="hidden" name="state" value="@Model.State"/>
    <input type="hidden" name="response_type" value="@Model.ResponseType"/>
    <input type="hidden" name="redirect_uri" value="@Model.RedirectUri"/>
    <input type="text" name="Surname" value="@Model.Surname" required="required" placeholder="Фамилия" autofocus="autofocus"/>
    <input type="text" name="Name" value="@Model.Name" required="required" placeholder="Имя"/>
    <input type="text" name="Login" value="@Model.Login" required="required" placeholder="Логин (должен начинаться с буквы)" autocomplete="none" pattern="[a-zA-Z]{1,}[a-zA-Z0-9]{4,}" minlength="5"/>
    <input type="email" name="Email" value="@Model.Email" required="required" placeholder="Email"/>
    <span class="phone-prefix">@PhoneUtils.GetFullInternationalPrefix(Country.Russia)</span>
    <input class="phone-value" type="tel" name="Phone" value="@Model.Phone" required="required" placeholder="Телефон (в формате 9999999999)" pattern="[0-9]{10}"/>
    <input type="password" name="Password" required="required" placeholder="Пароль" autocomplete="none" minlength="6"/>
    <input type="password" name="PasswordConfirmation" required="required" placeholder="Повтор пароля" autocomplete="none" minlength="6"/>
    <input type="submit" value="Зарегистрироваться"/>
    <a href="/oauth/authorize?client_id=@Model.ClientId&response_type=@Model.ResponseType&scope=@Model.Scope&state=@Model.State&redirect_uri=@Model.RedirectUri">Войти</a>
</form>